---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="es">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <style>
            html {
                scroll-behavior: smooth;
            }
        </style>
    </head>
    <body class="overflow-x-hidden flex flex-col min-h-screen">
        <Header />
        <main class="flex-grow px-4 sm:px-6 md:px-10">

            <!-- Sección mi viaje -->
            <section title="Mi-Viaje" class="h-screen md:h-auto mt-6 sm:pt-0"> 
    <div
        class="p-2 sm:p-8 md:p-12 lg:p-16 w-full max-w-5xl mx-auto flex flex-col md:flex-row md:items-center gap-8 "
    >
        <div class="flex-1 text-center md:text-left">
            <a
                href="#mi-viaje"
                class="inline-block px-5 py-1 border border-gray-300 rounded-full text-base font-medium text-gray-700 uppercase tracking-wide mb-2 hover:bg-gray-50 transition duration-300"
            >📍 Mi Viaje</a>

            <div class="space-y-6 sm:space-y-8 md:space-y-12">
                <h2
                    class="text-2xl sm:text-3xl lg:text-5xl font-black text-transparent bg-clip-text bg-gradient-to-r from-[#007bff] to-[#00bfff] tracking-wide leading-tight"
                >
                    Luis Reyes.
                </h2>

                <h3
                    class="text-lg sm:text-xl lg:text-3xl font-extrabold text-gray-900 leading-tight my-4"
                >
                    Fundador de Luis Reyes Digital | Tu Guía hacia el Futuro Online
                </h3>

                <p
                    class="text-sm sm:text-base md:text-xl text-gray-700 leading-relaxed max-w-3xl mx-auto md:mx-0"
                >
                    ¿Qué pasaría si te dijera que tu punto de partida no define tu destino, <b class="font-semibold">sino tu potencia?</b>
                </p>
            </div>
        </div>

        <div class="flex-1 flex justify-center">
            <img
                src={import.meta.env.BASE_URL +
                "/imagenes/luis-7.png"}
                alt="Retrato de Luis Reyes"
                class="max-h-[60vh] w-auto object-cover mask-b-from-60% mask-b-to-90%"
            />
        </div>
    </div>
</section>
            <!-- Sección mi camino -->
            <section id="mi-viaje">
                <div class="p-8 md:p-12 lg:p-16 w-full max-w-5xl mx-auto">
                    <div
                        class="flex flex-col md:flex-row gap-8 lg:gap-12 items-start"
                    >
                        <div
                            class="md:w-[65%] lg:w-[70%] text-base sm:text-lg text-gray-700 leading-relaxed space-y-6 text-left md:text-justify"
                        >
                            <h2 class="text-xl sm:text-2xl font-semibold">
                                Mi camino me ha preparado para ayudarte a:
                            </h2>

                            <div
                                class="mt-8 max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 space-y-6"
                            >
                                <h2
                                    class="text-lg sm:text-xl font-semibold mt-6"
                                >
                                    💡 Encontrar Tu Propósito Digital
                                </h2>
                                <p class="text-gray-600">
                                    Como pasé de no tener un rumbo definido a
                                    construir una marca con propósito, te
                                    muestro cómo encontrar tu camino y
                                    transformar tu visión en un proyecto
                                    tangible.
                                </p>

                                <h2
                                    class="text-lg sm:text-xl font-semibold mt-6"
                                >
                                    🚀 Desbloquear Oportunidades
                                </h2>
                                <p class="text-gray-600">
                                    Te guío a través de las lecciones que
                                    aprendí al arriesgarme y dejar mi zona de
                                    confort, para que descubras que los fracasos
                                    solo son el camino hacia nuevas
                                    oportunidades.
                                </p>

                                <h2
                                    class="text-lg sm:text-xl font-semibold mt-6"
                                >
                                    💻 Adquirir Habilidades de Alto Valor
                                </h2>
                                <p class="text-gray-600">
                                    Te comparto mi proceso para dominar
                                    habilidades fundamentales como el desarrollo
                                    web, el análisis de datos, el marketing
                                    digital y la IA, y te muestro cómo
                                    aplicarlas para crear tu propia marca y
                                    proyecto.
                                </p>

                                <h2
                                    class="text-lg sm:text-xl font-semibold mt-6"
                                >
                                    📈 Afrontar la Adversidad
                                </h2>
                                <p class="text-gray-600">
                                    Mi experiencia con la quiebra y la depresión
                                    me enseñó a convertir los obstáculos en
                                    catalizadores. Te inspiro a encontrar la
                                    fuerza para seguir adelante, a cuestionar la
                                    culpa y a usar cada revés como un impulso.
                                </p>
                            </div>
                        </div>
                    </div>
                    <a
                        href={import.meta.env.BASE_URL + "bio/"}
                        class="inline-block px-5 py-1 border border-gray-300 rounded-full text-base font-medium text-gray-700 uppercase tracking-wide my-10 hover:bg-gray-50 transition duration-300"
                        >📖 Mi Historia</a
                    >
                </div>
            </section>

            <section
                class="w-[90vw] sm:w-[80vw] md:w-[70vw] mx-auto"
            >
                <div
                    class="group bg-white p-4 sm:p-6 rounded-lg shadow-md border border-gray-200 transition-all duration-300 hover:-translate-y-2 hover:bg-blue-900 mx-auto md:w-full"
                >
                    <h2
                        class="text-base md:text-2xl font-semibold group-hover:text-white"
                    >
                        📌 Misión
                    </h2>
                    <p
                        class="mt-4 text-sm md:text-lg text-gray-600 group-hover:text-white"
                    >
                        "Dominar las herramientas que transforman experiencias
                        digitales en crecimiento escalable, combinando:
                        Experiencia real, Conocimiento técnico y Visión
                        estratégica"
                    </p>
                    <a
                        href={import.meta.env.BASE_URL + "blog/"}
                        class="my-5 inline-block bg-white hover:bg-[#000033] hover:text-white text-[#000033] px-6 py-2 sm:px-8 sm:py-3 rounded-full text-base sm:text-lg font-semibold transition duration-300 shadow-md border-transparent hover:border-[#000033]"
                    >
                        🛠️ Descubre las Herramientas
                    </a>
                </div>
            </section>
             

        <Footer />
    </body>
</html>
