---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="es">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <style>
            html {
                scroll-behavior: smooth;
            }
        </style>
    </head>
    <body class="overflow-x-hidden flex flex-col min-h-screen">
        <Header />
        <main class="flex-grow">
            <section>
                <div
                    class="bg-white rounded-3xl shadow-lg p-8 md:p-12 lg:p-16 text-center w-[80vw] min-w-[320px] mx-auto relative mb-16"
                    class="bg-white rounded-3xl shadow-lg p-8 md:p-12 lg:p-16 text-center w-full max-w-5xl mx-auto relative mb-16"
                >
                    <a
                        href={import.meta.env.BASE_URL + "bio/"}
                        class="inline-block px-5 py-1 border border-gray-300 rounded-full text-base font-medium text-gray-700 uppercase tracking-wide mb-6 hover:bg-gray-50 transition duration-300"
                    >
                        📖 MI HISTORIA
                    </a>

                    <h2
                        class="text-3xl sm:text-4xl lg:text-5xl font-extrabold text-[#007bff] mb-3 leading-tight"
                    >
                        Luis Reyes.
                    </h2>

                    <h3
                        class="text-xl sm:text-2xl lg:text-3xl font-bold text-gray-900 mb-6 leading-tight"
                    >
                        Fundador de Luis Reyes Digital | Tu Guía hacia el Futuro
                        Online
                    </h3>

                    <p
                        class="text-base sm:text-lg md:text-xl text-gray-700 leading-relaxed max-w-3xl mx-auto"
                    >
                        "¿Qué pasaría si te dijera que tu punto de partida no
                        define tu destino, sino tu potencia? Esta es la historia
                        de cómo los obstáculos se convirtieron en escalones, y
                        una visión clara me llevó del campo a la ciudad, del
                        empleo dependiente a la construcción de mi marca
                        personal digital."
                        <b class="font-semibold">Acompáñame en este viaje.</b>
                    </p>

                    <div
                        class="absolute -bottom-6 left-1/2 transform -translate-x-1/2 w-12 h-12 bg-white rounded-tl-xl rounded-br-xl shadow-lg rotate-45"
                    >
                    </div>
                    <div
                        class="absolute -bottom-8 left-1/2 transform -translate-x-1/2 w-16 h-16 bg-white rounded-tl-full rounded-br-full rotate-45 opacity-50 blur-sm"
                    >
                    </div>
                </div>
            </section>

            <!-- Sección 3 -->
            <section title="Mi Historia Parte 3" class="mb-16">
                <div
                    class="bg-white rounded-3xl shadow-lg p-8 md:p-12 lg:p-16 w-full max-w-5xl mx-auto"
                >
                    <div
                        class="flex flex-col md:flex-row gap-8 lg:gap-12 items-start"
                    >
                        <div
                            class="md:w-[65%] lg:w-[70%] text-base sm:text-lg text-gray-700 leading-relaxed space-y-6 text-left md:text-justify"
                        >
                            <h3
                                class="text-xl sm:text-2xl font-bold text-gray-900 !mb-4 text-left"
                            >
                                Mi Viaje: De la Incertidumbre a la Creación
                                Digital
                            </h3>
                            <p>
                                Mis orígenes se remontan a la tranquilidad del
                                campo venezolano. En mi búsqueda de crecimiento,
                                exploré las bulliciosas calles de la ciudad para
                                estudiar, pero los obstáculos que el país me
                                impuso me obligaron a retornar a la paz del
                                campo. Lejos de detenerme, abracé una nueva
                                visión, y mi primer emprendimiento de licores
                                artesanales me acercó más a la esencia de mis
                                metas. Sin embargo, los nuevos obstáculos de la
                                pandemia acabaron con todo el trabajo de tres
                                años, dejando secuelas de cuestionamiento,
                                depresión y la sensación de que mis decisiones
                                me habían fallado. Fue en ese punto de quiebre
                                donde se abrió otra puerta de oportunidades. De
                                vuelta a la ciudad, dejé atrás mi zona de
                                confort para llevarme al límite, buscando nuevas
                                oportunidades, escalando una y otra vez con
                                diferentes trabajos. Intenté una vez más el
                                camino profesional tradicional y, nuevamente,
                                fracasé. Pero ese fracaso, en lugar de
                                detenerme, me abrió la última puerta: una con un
                                nuevo enfoque. Con una visión más clara, me
                                sumergí en los fundamentos del desarrollo web y
                                el análisis de datos. De esa reinvención total
                                nació Luis Reyes Digital, una marca repotenciada
                                para demostrar que los fracasos no son el final,
                                sino la puerta de entrada a nuevas oportunidades
                                y a la creación de un propósito.
                            </p>
                        </div>

                        <div
                            class="w-full md:w-[35%] lg:w-[30%] md:sticky md:top-24 h-full"
                        >
                            <div
                                class="flex flex-row md:flex-col justify-center items-center gap-8"
                            >
                                <img
                                    src="imagenes/luis-5.jpg"
                                    alt="Retrato de Luis Reyes"
                                    class="w-36 h-36 sm:w-48 sm:h-48 md:w-56 md:h-56 rounded-full object-cover border-4 border-white shadow-lg"
                                    loading="lazy"
                                    width="224"
                                    height="224"
                                />
                                <img
                                    src="imagenes/luis-1.jpg"
                                    alt="Luis Reyes en un entorno profesional"
                                    class="w-36 h-36 sm:w-48 sm:h-48 md:w-56 md:h-56 rounded-full object-cover border-4 border-white shadow-lg"
                                    loading="lazy"
                                    width="224"
                                    height="224"
                                />
                            </div>
                        </div>
                    </div>
                    <a
                        href={import.meta.env.BASE_URL + "bio/"}
                        class="inline-block bg-white hover:bg-[#000033] hover:text-white text-[#000033] px-6 py-2 sm:px-8 sm:py-3 rounded-full text-base sm:text-lg font-semibold transition duration-300 shadow-md border-transparent hover:border-[#000033]"
                    >
                        Mi historia
                    </a>
                </div>
            </section>

            <!-- Llamado final a la acción  -->
            <section
                class="w-full sm:w-[80vw] md:w-[70vw] mx-auto px-4 py-8 sm:p-8 bg-blue-600 rounded-none sm:rounded-4xl my-8 sm:mt-[5%]"
            >
                <div class="max-w-[90vw] sm:max-w-none mx-auto text-center">
                    <h2
                        class="text-lg sm:text-xl md:text-2xl font-bold text-white mb-6 sm:mb-8"
                    >
                        "Arriesgarte abre el mundo digital. Mi historia es la
                        prueba. Te muestro el cómo, con estrategias y
                        aprendizajes reales para tu evolución."
                    </h2>

                    <a
                        href={import.meta.env.BASE_URL + "blog/"}
                        class="inline-block bg-white hover:bg-[#000033] hover:text-white text-[#000033] px-6 py-2 sm:px-8 sm:py-3 rounded-full text-base sm:text-lg font-semibold transition duration-300 shadow-md border-transparent hover:border-[#000033]"
                    >
                        🛠️ Descubre las Herramientas
                    </a>
                </div>
            </section>
        </main>

        <Footer />
    </body>
</html>
