---
import Icon from "./Icon.astro";
const today = new Date();
---

<footer class="rounded-t-[3rem] bg-[#000066]">
    <div>
        &copy; {today.getFullYear()} Luis Reyes Digital. Todos los derechos reservados.
    </div>
    
    <div class="flex items-center gap-4 mb-4 social-icons-wrapper">
        <a href="https://www.linkedin.com/in/luis-reyes-digital-263aa2355" target="_blank"> <Icon name="linkedin" width={28} height={28} /></a>
        <a href="https://www.youtube.com/@LuisReyesDigital" target="_blank"><Icon name="youtube" width={42} height={42} /></a>
        <a href="https://www.instagram.com/luisreyesdigital/" target="_blank"><Icon name="instagram" width={28} height={28} /></a>
    </div>

</footer>

<style>
    footer {
        padding: 2em 1em 6em 1em;
        background-color: #000066; /* Usé background-color directamente por la clase en el HTML, pero si prefieres el background de CSS, puedes ajustarlo. */
        color: rgb(var(--gray));
        
        /* --- Cambios para centrar y apilar los divs --- */
        display: flex; /* Habilitar Flexbox */
        flex-direction: column; /* Apilar los elementos hijos (los divs) verticalmente */
        align-items: center; /* Centrar los elementos hijos horizontalmente en un layout de columna */
        /* --- Fin de cambios --- */

        text-align: center; /* Mantiene el texto dentro del primer div centrado */
    }
</style>