---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname;
const hrefString = href?.toString().replace(/\/$/, '') || '';
const pathnameString = pathname.replace(/\/$/, '');
const isActive = hrefString === pathnameString || (hrefString !== '' && hrefString !== '/' && pathnameString.startsWith(hrefString));
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	a {
		display: inline-block;
		text-decoration: none;
	}
	a.active {
		font-weight: bolder;
	}
</style>
